.Section{
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.Amozon h1{
    color: #FFFFFF;
    font-size: 76px;
    line-height: 80px;
    font-weight: 800;
    padding-bottom: 50px;
}
.Amozon p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
.buttone h4{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.buttone {
    display: flex;
    gap: 20px;
    align-items: center;
}

.buttone button{
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    background: #10A37F;
    border-radius: 8px;
    border: none;
    padding: 18px 32px;
}